img { 
    vertical-align:middle;
    border:1px solid black; 
}

#game {
  background: OrangeRed ;
  width: 600px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid white;
}

#ball {
  background: yellow;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 290px;
  top: 140px;
  border-radius: 10px;
  border: 1px solid yellow;
}
 #paddleA {
  background: RoyalBlue  ;
  position: absolute;
  width: 20px;
  height: 100px;
  left: 10px;
  top: 100px;
  border-radius: 10px;
  border: 1px solid RoyalBlue ;
 }

 #paddleB {
  background: RoyalBlue  ;
  position: absolute;
  width: 20px;
  height: 100px;
  right: 10px;
  top: 100px;
  border-radius: 10px;
  border: 1px solid RoyalBlue ;
 }